html {
  -webkit-text-size-adjust: 100%;
  padding-bottom: 4em
}

body {
  font-family: sans-serif;
  line-height: 1.5em;
  max-width: 40em;
  padding: 0 2%;
  margin: auto
}

.text-input {
  width: 96%;
  display: block;
  padding: .5em 1%;
  margin-bottom: 1.5em;
  font-size: 1em
}

fieldset {
  margin-bottom: 1.5em
}

textarea {
  height: 10em
}

dt {
  font-weight: bold
}

.footer {
  text-align: right
}

.centered {
  text-align: center
}

.nope {
  display: none
}

.ad-container {
  float: left;
  min-width: 33%
}

h5 {
  margin-bottom: 0;
}

.badge {
  background-color: black;
  border-radius: 0.3rem;
  color: white;
  padding: 1px 5px;
  font-weight: bold;
}

.card {
  /* background-color: #ccc; */
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.card h5 {
  margin-top: 0;
}

a.no-link {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.col {
  flex-basis: calc(50% - 10px);
  padding: 5px;
}